  <div class="container">
    <div class="row">
      <div class="col-md-6">
	<canvas id="canvas0" width="250" height="500"></canvas>
      </div>
      <div class="col-md-6">
	<canvas id="canvas1" width="250" height="500"></canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
	<pre>{{player0 | json}}</pre>
      </div>
    </div>
    <div class="col-md-12">
      <input type="button" ng-click="player0.rotate()" value="rotate">
      <input type="button" ng-click="player0.drop()" value="drop">
      <input type="button" ng-click="player0.moveLeft()" value="left">
      <input type="button" ng-click="player0.moveRight()" value="right">
      <input type="button" ng-click="player0.start()" value="start">
    </div>
  </div>
