  <div class="container">
    <div class="row">
      <div class="col-md-2">
	<input type="button" ng-click="player0.start()" value="start">
      </div>
      <div class="col-md-10">
	<input type="button" ng-click="player0.rotate()" value="rotate">
	<input type="button" ng-click="player0.drop()" value="drop">
	<input type="button" ng-click="player0.moveLeft()" value="left">
	<input type="button" ng-click="player0.moveRight()" value="right">
      </div>	
    </div>
    <div class="row">
      <div class="col-md-6">
	<canvas id="canvas0" width="250" height="500"></canvas>
      </div>
      <div class="col-md-6">
	<pre>{{player0 | json}}</pre>
      </div>
    </div>
  </div>
  <script>
    var canvas = $("#canvas0").get(0);
    if (!canvas || !canvas.getContext || !canvas.getContext('2d'))
    alert("You must use a browser that supports HTML5 Canvas to run this demo.");
  </script>
